<table class="table table-borderless">
  <% @notifications.each do |notification|%>
  <tr>
    <td style="text-align: right;"><%= link_to user_path(notification.visitor) do %>
          <%= image_tag notification.visitor.get_profile_image, size:'50x50' %>
        <% end %>
    </td>
    <td><p><%= notification_form(notification) %>
        <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
        </p>
    </td>
  </tr>
  <% end %>
</table>

