  <% chats.each do |chat|%>
    <% if chat.user_id != current_user.id %>
    <tbody>
      <tr>
        <td><%= image_tag @user.get_profile_image, size:'50x50',class: "message_icon" %></td>
        <td><p style="text-align: left;" class="message_box_1"><%= chat.message %></p></td>
        <td></td>
        <td></td>
      </tr>
    <% else %>
      <tr>
        <td></td>
        <td></td>
        <div class="message_container">
        <td><p style="text-align: right;" class="message_box_2"><%= chat.message %></p></td>
        <td><%= image_tag @user.get_profile_image, size:'50x50', class: "message_icon" %></td>
        </div>
      </tr>
    </tbody>
    <% end %>
  <% end %>
