<% if obj.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(obj.errors.count, "error") %> があります。以下の点をご確認ください。</p>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
